        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-slider.js"></script>
        <script src="/js/helpdesk.js"></script>
    </body>
</html>