        <script src="/js/jquery-2.2.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-slider.js"></script>
        <script src="/js/datatables.min.js"></script>
        <script src="/js/helpdesk.js"></script>
    </body>
</html>