<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-slider.css" />
        <link rel="stylesheet" href="/css/helpdesk.css" />
    </head>
    <body>