<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-slider.css"/>
        <link rel="stylesheet" href="/css/helpdesk.css"/>
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
    </head>
    <body>